* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    width: 100vh;
    height: 100vh;
}

#parentDiv {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.hoveredOver {
    background-color: black;
}