* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

#parentDiv {
    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 5px;
    align-self: flex-start;
}